@using System.Globalization;
@using System.Linq;
@model BarDoDG.WebSite.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Tela inicial";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.QuantidadeClientes</h3>
                <p>Clientes</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a asp-controller="Cliente" asp-action="Index" class="small-box-footer" title="Clique para visualizar os clientes">Visualizar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.QuantidadeComandas</h3>
                <p>Comandas</p>
            </div>
            <div class="icon">
                <i class="ion ion-edit"></i>
            </div>
            <a asp-controller="Comanda" asp-action="NovaComanda" class="small-box-footer" title="Clique para ir a tela">Adicionar comanda <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.QuantidadeItensComprados</h3>
                <p>Itens comprados</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", Model.TotalComandas)</h3>
                <p>Saldo das comandas</p>
            </div>
            <div class="icon">
                <i class="ion ion-cash"></i>
            </div>
            <a class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
<div id="divComandasAtivas">
    @await Html.PartialAsync("~/Views/Comanda/_ComandasAtivas.cshtml", Model.ComandasAtivasViewModel)
</div>